body {
  background-color: aliceblue;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.game-choices {
  display: flex;
}

.user-choice {
  width: 50%;
}

.user-choice img {
  width: 100px;
  height: 100px;
}

.computer-choice {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
}
.computer-choice img {
  height: 200px;
  width: 200px;
}

.top-choice {
  display: flex;
  justify-content: center;
}

.bottom-choices {
  display: flex;
  justify-content: space-around;
}

#rock,
#paper,
#scissors {
  background-color: lightblue;
  border-radius: 50%;
  padding: 10px;
}
#scissors {
  transform: rotate(180deg);
  transform: scaleX(-1);
}

#rock:hover,
#paper:hover,
#scissors:hover {
  filter: drop-shadow(2px 2px 4px grey);
}

#result {
  margin-top: 20px;
  font-size: 24px;
}

#win-defeat {
  font-weight: bolder;
  font-size: 25px;
  margin-top: 25px;
}
